In [1]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

In [2]:
#store csv into df
csv_file = "cleaned_data/police_killings_cleaned.csv"
killings_df = pd.read_csv(csv_file, encoding="ISO-8859-1")
killings_df.head()

,raceethnicity,year,city,state,latitude,longitude,state_fp,armed
0,Black,2015,Millbrook,AL,32.529577,-86.362829,1,No
1,White,2015,Pineville,LA,31.321739,-92.434860,22,No
2,White,2015,Kenosha,WI,42.583560,-87.835710,55,No
3,Hispanic/Latino,2015,South Gate,CA,33.939298,-118.219463,6,Firearm
4,White,2015,Munroe Falls,OH,41.148575,-81.429878,39,No

In [3]:
engine = create_engine('sqlite:///killings_db.sqlite')
conn = engine.connect()

In [4]:
#check for tables
engine.table_names()

[]

In [5]:
#Use pandas to load csv converted DataFrame into database
killings_df.to_sql(name='police_killings', con=engine, if_exists='append', index=True)

In [6]:
#Confirm data has been added by querying the table
pd.read_sql_query('select * from police_killings', con=engine).head()

,index,raceethnicity,year,city,state,latitude,longitude,state_fp,armed
0,0,Black,2015,Millbrook,AL,32.529577,-86.362829,1,No
1,1,White,2015,Pineville,LA,31.321739,-92.434860,22,No
2,2,White,2015,Kenosha,WI,42.583560,-87.835710,55,No
3,3,Hispanic/Latino,2015,South Gate,CA,33.939298,-118.219463,6,Firearm
4,4,White,2015,Munroe Falls,OH,41.148575,-81.429878,39,No