In [10]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine

In [11]:
#store csv into df
csv_file = "cleaned_data/police_killings_cleaned.csv"
killings_df = pd.read_csv(csv_file, encoding="ISO-8859-1")
killings_df.head()

,raceethnicity,year,city,state,latitude,longitude,state_fp,armed
0,Black,2015,Millbrook,AL,32.529577,-86.362829,1,No
1,White,2015,Pineville,LA,31.321739,-92.434860,22,No
2,White,2015,Kenosha,WI,42.583560,-87.835710,55,No
3,Hispanic/Latino,2015,South Gate,CA,33.939298,-118.219463,6,Firearm
4,White,2015,Munroe Falls,OH,41.148575,-81.429878,39,No

In [12]:
#connect to local database
connection_string = "postgres:postgres@localhost:5432/killings_db"
engine = create_engine(f'postgresql://{connection_string}')

In [13]:
#check for tables
engine.table_names()

['police_killings']

In [14]:
#Use pandas to load csv converted DataFrame into database
killings_df.to_sql(name='police_killings', con=engine, if_exists='append', index=False)

In [16]:
#Confirm data has been added by querying the table
pd.read_sql_query('select * from police_killings', con=engine).head()

,raceethnicity,year,city,state,latitude,longitude,state_fp,armed
0,Black,2015,Millbrook,AL,32.529577,-86.362829,1,No
1,White,2015,Pineville,LA,31.321739,-92.434860,22,No
2,White,2015,Kenosha,WI,42.583560,-87.835710,55,No
3,Hispanic/Latino,2015,South Gate,CA,33.939298,-118.219463,6,Firearm
4,White,2015,Munroe Falls,OH,41.148575,-81.429878,39,No